 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 2101px;
}

.u-section-1 .u-image-1 {
  height: 551px;
  margin-top: 0;
  margin-bottom: 0;
  transition-duration: 0.5s;
  box-shadow: 0 0 0 rgba(0,0,0,0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  line-height: 2;
  text-transform: uppercase;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  font-size: 1.5rem;
  transition-duration: 0.5s;
  box-shadow: rgba(var(---r),var(---g),var(---b),0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -362px 266px 0 341px;
}

.u-section-1 .u-table-1 {
  width: 303px;
  margin: 324px 20px 0 auto;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-2 {
  margin-right: 0;
  margin-left: 0;
  font-weight: 700;
}

.u-section-1 .u-table-cell-3 {
  margin-right: 0;
  margin-left: 0;
  font-weight: 700;
}

.u-section-1 .u-table-cell-4 {
  margin-right: 0;
  margin-left: 0;
  font-weight: 700;
  border-style: dotted;
}

.u-section-1 .u-table-cell-5 {
  margin-right: 0;
  margin-left: 0;
  font-weight: 700;
}

.u-section-1 .u-table-cell-6 {
  margin-right: 0;
  margin-left: 0;
  font-weight: 700;
}

.u-section-1 .u-table-cell-7 {
  margin-right: 0;
  margin-left: 0;
  font-weight: 700;
}

.u-section-1 .u-table-cell-8 {
  margin-right: 0;
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: -47px 115px 0 auto;
  padding: 8px 27px 8px 26px;
}

.u-section-1 .u-table-2 {
  width: 303px;
  margin: -493px auto 0 51px;
}

.u-section-1 .u-table-header-2 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-9 {
  background-image: none;
}

.u-section-1 .u-table-cell-10 {
  margin-right: 0;
  margin-left: 0;
  font-weight: 700;
}

.u-section-1 .u-table-cell-11 {
  margin-right: 0;
  margin-left: 0;
  font-weight: 700;
}

.u-section-1 .u-table-cell-12 {
  margin-right: 0;
  margin-left: 0;
  font-weight: 700;
  border-style: dotted;
}

.u-section-1 .u-table-cell-13 {
  margin-right: 0;
  margin-left: 0;
  font-weight: 700;
}

.u-section-1 .u-table-cell-14 {
  margin-right: 0;
  margin-left: 0;
  font-weight: 700;
}

.u-section-1 .u-table-cell-15 {
  margin-right: 0;
  margin-left: 0;
  font-weight: 700;
}

.u-section-1 .u-table-cell-16 {
  margin-right: 0;
  margin-left: 0;
}

.u-section-1 .u-btn-2 {
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: -51px auto 0 146px;
  padding: 8px 27px 8px 26px;
}

.u-section-1 .u-table-3 {
  width: 303px;
  margin: -492px 381px 0 auto;
}

.u-section-1 .u-table-header-3 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-17 {
  background-image: none;
}

.u-section-1 .u-table-cell-18 {
  margin-right: 0;
  margin-left: 0;
  font-weight: 700;
}

.u-section-1 .u-table-cell-19 {
  margin-right: 0;
  margin-left: 0;
  font-weight: 700;
}

.u-section-1 .u-table-cell-20 {
  margin-right: 0;
  margin-left: 0;
  font-weight: 700;
  border-style: dotted;
}

.u-section-1 .u-table-cell-21 {
  margin-right: 0;
  margin-left: 0;
  font-weight: 700;
}

.u-section-1 .u-table-cell-22 {
  margin-right: 0;
  margin-left: 0;
  font-weight: 700;
}

.u-section-1 .u-table-cell-23 {
  margin-right: 0;
  margin-left: 0;
  font-weight: 700;
}

.u-section-1 .u-table-cell-24 {
  margin-right: 0;
  margin-left: 0;
}

.u-section-1 .u-btn-3 {
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: -52px 476px 0 auto;
  padding: 8px 27px 8px 26px;
}

.u-section-1 .u-text-2 {
  transition-duration: 0.5s;
  box-shadow: rgba(var(---r),var(---g),var(---b),0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  font-weight: 700;
  margin: 209px 612px 0 70px;
}

.u-section-1 .u-text-3 {
  transition-duration: 0.5s;
  box-shadow: rgba(var(---r),var(---g),var(---b),0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  font-weight: 700;
  margin: -230px 20px 0 661px;
}

.u-section-1 .u-text-4 {
  transition-duration: 0.5s;
  box-shadow: rgba(var(---r),var(---g),var(---b),0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  font-weight: 700;
  margin: 79px 611px 0 70px;
}

.u-section-1 .u-text-5 {
  transition-duration: 0.5s;
  box-shadow: rgba(var(---r),var(---g),var(---b),0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  font-weight: 700;
  margin: -230px 20px 60px 661px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 166px;
    margin-left: 241px;
  }

  .u-section-1 .u-table-1 {
    height: 506px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-table-cell-9 {
    border-style: dashed;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-table-3 {
    height: 506px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 276px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 482px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: -539px;
    margin-right: 0;
    margin-left: 482px;
  }

  .u-section-1 .u-text-4 {
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    margin-right: 481px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: -310px;
    margin-right: 0;
    margin-left: 483px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 56px;
    margin-left: 131px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 56px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 262px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 262px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 261px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 263px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 7px;
  }

  .u-section-1 .u-table-3 {
    margin-right: 237px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 82px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 82px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 81px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 83px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-table-2 {
    margin-left: 37px;
  }

  .u-section-1 .u-table-3 {
    margin-right: 37px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 388px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: -719px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: -279px;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
  }
}

.u-section-1 .u-text-1,
.u-section-1 .u-text-1:before,
.u-section-1 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-1 {
  border-color: transparent !important;
}

.u-section-1 .u-text-1.u-text-1.u-text-1:hover {
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  transform: translateX(0px) translateY(0px) scale(1.1) rotate(0deg) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-1 .u-text-1 {
  border-color: transparent !important;
}

.u-section-1 .u-text-1.u-text-1.u-text-1.hover {
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  transform: translateX(0px) translateY(0px) scale(1.1) rotate(0deg) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-1 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-4,
.u-section-1 .u-text-4:before,
.u-section-1 .u-text-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-4.u-text-4.u-text-4:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-1 .u-text-4 {
  border-color: transparent !important;
}

.u-section-1 .u-text-4.u-text-4.u-text-4.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-1 .u-text-4 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-text-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-2,
.u-section-1 .u-text-2:before,
.u-section-1 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-2.u-text-2.u-text-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-1 .u-text-2 {
  border-color: transparent !important;
}

.u-section-1 .u-text-2.u-text-2.u-text-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-1 .u-text-2 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-3,
.u-section-1 .u-text-3:before,
.u-section-1 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-3.u-text-3.u-text-3:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-1 .u-text-3 {
  border-color: transparent !important;
}

.u-section-1 .u-text-3.u-text-3.u-text-3.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-1 .u-text-3 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-text-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-5,
.u-section-1 .u-text-5:before,
.u-section-1 .u-text-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-5.u-text-5.u-text-5:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-1 .u-text-5 {
  border-color: transparent !important;
}

.u-section-1 .u-text-5.u-text-5.u-text-5.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-1 .u-text-5 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-text-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-1,
.u-section-1 .u-image-1:before,
.u-section-1 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-1.u-image-1.u-image-1:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-1 .u-image-1 {
  border-color: transparent !important;
}

.u-section-1 .u-image-1.u-image-1.u-image-1.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-1 .u-image-1 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}